{
  "extends": ["@commitlint/config-conventional"],
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "feat",
        "update",
        "ui",
        "fix",
        "merge",
        "refactor",
        "perf",
        "revert",
        "style",
        "build",
        "docs",
        "test",
        "chore"
      ]
    ],
    "scope-empty": [0],
    "scope-case": [0],
    "subject-full-stop": [0],
    "subject-case": [0]
  }
}
